/* Загальні стилі */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.head__body {
    background-color: #ff6b6b;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 85px;
}

.image__logo {
    position: relative; /* Это нужно для абсолютного позиционирования внутри родителя */
}

.image__logo img {
    height: 300px;
    position: absolute;
    right: -230px; /* Подвинет изображение к правому краю родителя */
    top: -144px;
}


.menu {
    display: flex;
    align-items: center;
    position: relative;
    right: -70px;
}

.menu__a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-right: 1.5rem;

    font-weight: 600; /* жирный текст */
    font-size: 1.2rem; /* увеличенный размер */
    font-family: 'Caveat', cursive; /* кулинарный стильный шрифт */
}


.menu__catalog__img img {
    height: 60px;
    margin-right: 0.3rem;

    top: 7px;
}

.ex_menu__catalog__img img {
    height: 60px;
    margin-right: 0.1rem;
    margin-top: 10px;
}

.center__input__elem {
    display: flex;
    align-items: center;
}

.input__search__field {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px 0 0 20px;
    border-end-end-radius: 20px;
    width: 300px;
}

.input__search__img {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    position: relative;
    left: -47px; 
    top: 2px;
}

.input__search__img img {
    height: 80px;
}

.image__basket {
    position: relative;
    min-width: 56px;
    right: 80px;
}

.image__basket img {
    height: 85px;
}

.favorite-counter {
    position: absolute;
    top: 20px;
    right: -10px;
    background: white;
    color: #ff6b6b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}